@import url(http://fonts.googleapis.com/css?family=Merriweather);

body {
  background: #fff;
  font-family: 'Merriweather', serif;
}

header {padding-top: 20px;}

h1,h2,h3,h4,h5,h6 {font-family: inherit;}

a:hover {
}

.lead {
  font-size: 1.1em;
}
.name {
  font-weight: bold;
  font-size: 1.6em;
}

.hr {
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1.6em;
  border-bottom: 1.5px solid #eee;
}

.section-head {
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1.6em;
  border-bottom: 1.5px solid #eee;
}

.section-head-old {
  background: #f5f5f5;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 1.6em;
  border-top: 3px solid #222;
  border-bottom: 2px solid #999;
}

.section-body {
  margin-top: 30px;
}

.section-name {
  font-size: 1.2em;
}

.section-description {
  text-align: justify;
  font-size: 1.1em;
  padding-top: 10px;
  padding-bottom: 30px;
}

.title {
  text-align: justify;
  font-size: 1.1em;
  padding-top: 15px;
  padding-bottom: 5px;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
     background-color: #eee;
}
